<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="spring-test-dao-config.xml"/>

    <bean id="testingUserService" class="com.mylab.spring.coredemo.service.UserService" lazy-init="true"/>
    <bean id="testingBookingService" class="com.mylab.spring.coredemo.service.BookingService" lazy-init="true"/>
    <bean id="testingEventService" class="com.mylab.spring.coredemo.service.EventService" lazy-init="true"/>
    <bean id="testingAuditoriumService" class="com.mylab.spring.coredemo.service.AuditoriumService">
        <lookup-method name="getAuditoriums" bean="auditoriumsList"/>
    </bean>

</beans>