<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="spring-test-dao-config.xml"/>

    <bean id="testingUserService" class="com.mylab.spring.coredemo.service.UserService"
          scope="prototype" lazy-init="true"/>

    <bean id="testingBookingService" class="com.mylab.spring.coredemo.service.BookingService"
          scope="prototype" lazy-init="true"/>
</beans>