<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:annotation-config/>
    <import resource="spring-test-properties-config.xml"/>

    <!-- User Dao Test Beans -->
    <bean id="testUser" class="com.mylab.spring.coredemo.entity.User" scope="prototype" lazy-init="true"
          c:name="Testing User" c:email="test@test.com"/>

    <bean id="userMemoryDao" class="com.mylab.spring.coredemo.dao.memory.MemoryUserDao"/>

    <!-- Event Dao Test Beans -->
    <bean id="testingEvent" class="com.mylab.spring.coredemo.entity.Event" scope="prototype" lazy-init="true"
          c:name="Denomination!" c:basePrice="500.0"
          c:date="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusDays(1)
                    .atZone(T(java.time.ZoneId).systemDefault()).toInstant())}"
          p:rating="LOW"/>

    <util:list id="eventsList" scope="prototype" value-type="com.mylab.spring.coredemo.entity.Event">
        <ref bean="testingEvent"/>
        <bean class="com.mylab.spring.coredemo.entity.Event" scope="prototype" lazy-init="true"
              c:name="Test Event 2" c:basePrice="20.0"
              c:date="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusDays(1).plusWeeks(1)
                    .atZone(T(java.time.ZoneId).systemDefault()).toInstant())}"
              p:rating="AVERAGE"/>
        <bean class="com.mylab.spring.coredemo.entity.Event" scope="prototype" lazy-init="true"
              c:name="Test Event 3" c:basePrice="30.0"
              c:date="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusDays(1).plusWeeks(2)
                    .atZone(T(java.time.ZoneId).systemDefault()).toInstant())}"
              p:rating="AVERAGE"/>
        <bean class="com.mylab.spring.coredemo.entity.Event" scope="prototype" lazy-init="true"
              c:name="Test Event 4" c:basePrice="40.0"
              c:date="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusDays(1).plusWeeks(3)
                    .atZone(T(java.time.ZoneId).systemDefault()).toInstant())}"
              p:rating="HIGH"/>
    </util:list>

    <bean id="fromDate" class="java.util.Date" scope="prototype" lazy-init="true">
        <constructor-arg value="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusWeeks(1)
                                .atZone(T(java.time.ZoneId).systemDefault()).toInstant()).getTime()}"/>
        <!-- minus one date from the events list above with this one as a lower bound -->
    </bean>

    <bean id="toDate" class="java.util.Date" scope="prototype" lazy-init="true">
        <constructor-arg value="#{T(java.util.Date).from(T(java.time.LocalDateTime).now().plusDays(2).plusWeeks(2)
                                .atZone(T(java.time.ZoneId).systemDefault()).toInstant()).getTime()}"/>
        <!-- minus one more date from the events list above with this one as an upper bound -->
    </bean>

    <bean id="eventMemoryDao" class="com.mylab.spring.coredemo.dao.memory.MemoryEventDao"/>

    <!-- Ticket Dao Test Beans -->
    <bean id="ticketTestEvent" class="com.mylab.spring.coredemo.entity.Event" scope="prototype" lazy-init="true"
          c:name="Ticket test" c:basePrice="0.0"
          c:date="#{T(java.util.Date).from(T(java.time.LocalDateTime).now()
                    .atZone(T(java.time.ZoneId).systemDefault()).toInstant())}"
          p:rating="HIGH"/>

    <bean id="testTicket" class="com.mylab.spring.coredemo.entity.Ticket" scope="prototype" lazy-init="true"
          c:event="#{ticketTestEvent}" c:seat="10"/>

    <bean id="testTicket 2" class="com.mylab.spring.coredemo.entity.Ticket" scope="prototype" lazy-init="true"
          c:event="#{testingEvent}" c:seat="11"/>

    <bean id="testTicket 3" class="com.mylab.spring.coredemo.entity.Ticket" scope="prototype" lazy-init="true"
          c:event="#{ticketTestEvent}" c:seat="12"/>

    <util:list id="ticketsList" scope="prototype" value-type="com.mylab.spring.coredemo.entity.Ticket">
        <ref bean="testTicket"/>
        <ref bean="testTicket 2"/>
        <ref bean="testTicket 3"/>
    </util:list>

    <bean id="ticketMemoryDao" class="com.mylab.spring.coredemo.dao.memory.MemoryTicketDao"/>

    <!-- Auditorium Dao Test Beans -->
    <bean id="testAuditorium" class="com.mylab.spring.coredemo.entity.Auditorium" scope="prototype" lazy-init="true"
          c:name="${aud1.name}" c:numberOfSeats="${aud1.seats.number}"
          p:vipSeats="#{'${aud1.seats.vip}'.split(',')}"/>

    <bean id="testAuditorium2" class="com.mylab.spring.coredemo.entity.Auditorium" scope="prototype" lazy-init="true"
          c:name="${aud2.name}" c:numberOfSeats="${aud2.seats.number}"
          p:vipSeats="#{'${aud2.seats.vip}'.split(',')}"/>

    <util:list id="auditoriumsList" value-type="com.mylab.spring.coredemo.entity.Auditorium">
        <ref bean="testAuditorium"/>
        <ref bean="testAuditorium2"/>
    </util:list>

    <bean id="auditoriumMemoryDao" class="com.mylab.spring.coredemo.dao.memory.MemoryAuditoriumDao"/>

    <!-- Booking Dao Test Beans -->
    <bean id="bookingTestUser" class="com.mylab.spring.coredemo.entity.User" scope="prototype" lazy-init="true"
          c:name="Ticket User" c:email="ticket@test.com"/>

    <bean id="testBooking" class="com.mylab.spring.coredemo.entity.Booking" scope="prototype" lazy-init="true"
          c:ticket-ref="testTicket" c:user-ref="bookingTestUser"/>

    <bean id="testBooking 2" class="com.mylab.spring.coredemo.entity.Booking" scope="prototype" lazy-init="true"
          c:ticket-ref="testTicket 2" c:user-ref="bookingTestUser"/>

    <bean id="testBooking 3" class="com.mylab.spring.coredemo.entity.Booking" scope="prototype" lazy-init="true"
          c:ticket-ref="testTicket 3" c:user-ref="testUser"/>

    <util:list id="bookingsList" list-class="com.mylab.spring.coredemo.entity.Booking" scope="prototype">
        <ref bean="testBooking"/>
        <ref bean="testBooking 2"/>
        <ref bean="testBooking 3"/>
    </util:list>

    <bean id="bookingTestDao" class="com.mylab.spring.coredemo.dao.memory.MemoryBookingDao"/>
</beans>